.register-form {
  .register-item {
    --background: transparent;
    --border-color: transparent;
  }

  ion-input {
    color: white;
  }

  ion-label {
    color: white;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;

  .logo {
    width: 150px;
    height: auto;
  }
}

.login-link {
  text-align: center;
  margin-top: 20px;

  a {
    color: white;
    text-decoration: none;
  }
}
